/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

.c-accordion-container {
  width: 100%;
  max-width: 832px;
  padding: 24px;
  background-color: $color-white;
}

.c-accordion-menu-container {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
  padding: 0;
  background-color: #fff;
  max-width: 220px;
  border: 1px solid $color-gray-20;
}

.c-accordion__item,
.c-accordion-menu__item {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: 0px solid #d9d9d9;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: normal;
  transition: 0.4s;
  padding: 14px 10px;
}

.c-accordion-menu__item {
  border-top: 1px solid $color-gray-20;
}

.c-accordion__item i,
.c-accordion-menu__item i {
  margin-right: 6px;
}
.c-accordion:first-child {
  border-top: 1px;
}

.c-accordion:hover {
  background-color: rgba(41, 125, 253, 0.08);
}

.c-accordion:before {
  color: #777;
  font-weight: bold;
  font-size: 19px;
  float: left;
  margin: 0px;
  padding: 0 10px 0 15px;
}

.c-accordion-active .icon-ios-next {
  display: inline-flex;
  transform: rotate(90deg);
}

.c-accordion-active + .c-accordion__content {
  max-height: 2000px;
  -webkit-transition: max-height 2s; /* Safari 4.0 - 8.0 */
  transition: max-height 2s;
}

.c-accordion__content {
  padding: 0 16px 0 32px;
  max-height: 0;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  background-color: #fff;
  font-size: 13px;
}

.c-accordion__content-ul,
.c-accordion-menu__content-ul{
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 30px;
}

.c-accordion-menu__content-ul {
  border-top: 1px solid $color-gray-20;
}

.c-accordion-menu-container section:first-child .c-accordion-menu__item {
  border: none;
}

.c-accordion__li,
.c-accordion-menu__li {
  padding: 10px 0;
  color: #666;
  font-size: 14px;
}
