/*------------------------------------*\
    #MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) A media block features a block of media(i.e. image) and text
 */
.c-media-block__inner {
    display: block;

    @media all and (min-width: $bp-med) {
    	display: flex;
    	position: relative;
        align-items: center;
        
        .c-media-block--top-aligned & {
            align-items: flex-start;
        }
    }
}

.c-media-block--white {
    background: $color-white;
}

/**
 * Media block body
 */
.c-media-block__body {
    margin-bottom: 1rem;
    @media all and (min-width: $bp-med) {
        max-width: 50%;
        margin-bottom: 0;
    }

    .c-media-block--reversed & {
        @media all and (min-width: $bp-med) {
            order: 2;
        }
    }
}
/**
 * Media block title
 */
.c-media-block__title {
    font-size: $font-size-large;
	margin-bottom: 0.5rem;
}

/**
 * Media block description
 */
.c-media-block__desc {
}

/**
 * Media container
 */
.c-media-block__media {

    @media all and (min-width: $bp-med) {
        max-width: 50%;
        margin-left: 2.5rem;
    }

    .c-media-block--reversed & {
        @media all and (min-width: $bp-med) {
            order: 1;
            margin-left: 0;
            margin-right: 2.5rem;
        }
    }
}

/**
 * Media block image
 * 1) Max height added to work in IE 10 and Edge
 */
.c-media-block__img {
}



.c-media-block-list {
    margin-bottom: 2rem;
}

.c-media-block__footer {
    margin-top: 1rem;
}
