/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/

.c-pagination {
  font-family: sans-serif;
  font-size: 16px;
  background: #fff;
  margin: 10px;
  background: none;
}
.c-pagination-control {
  font-size: 13px;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  padding-top: 8px;
  color: #444444;
  margin: 0 4px;
}
.c-pagination-control-hover:hover {
  background-color: rgba(41, 125, 253, 0.1);
  cursor: pointer;
}
.c-pagination-control-selected {
  font-weight: 900;
  color: #000;
}
.c-pagination-control-inactive {
  color: #999;
}
.c-pagination-control-arrow {
  margin: 0 16px;
}
