/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container that consists of of a page header kicker, title, and description
 */
.c-page-header {
    margin-bottom: 2rem;
    max-width: $l-linelength-width;
}

/**
 * Page header kicker
 */
.c-page-header__kicker {
    color: $color-gray-40;
    margin-bottom: 1rem;
}

/**
 * Page header title
 */
.c-page-header__title {
	margin-bottom: 0.2rem;
}

/**
 * Page description
 */
.c-page-header__desc {
    margin-bottom: 0;
    font-size: $font-size-med-2;
    color: $color-gray-56;
}
