/*------------------------------------*\
    #SECTION
\*------------------------------------*/

/**
 * Section block that helps chunk related items together
 */
.c-section {
	margin-bottom: 2rem;
}





/*------------------------------------*\
    #SECTION HEADER
\*------------------------------------*/

/**
 * 1) Block containing section title and description to distinguish section
 */
.c-section__header {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $color-gray-07;
}

/**
 * Section header title
 */
.c-section__title {
	font-size: $font-size-large;
	margin-bottom: 0;
}

/**
 * Section description
 */
.c-section__desc {
	font-size: $font-size-med;
	margin-bottom: 0;
}

.c-section__title {
	.c-well & {
		font-size: $font-size-sm-2;
		margin-bottom: 0;
	}
}
