/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) Unordered list of links where the each link targets different information
 */

/**
 * Tabs list
 */
.c-tabs__list {
	display: flex;
	border-bottom: 1px solid $color-gray-27;
}

 /**
 * Tabs list
 * 1) Overlap the tabs bottom border
 */
.c-tabs__link {
	display: block;
	padding: 0.5rem 1rem;
    min-width: 5rem;
    text-align: center;
}

.c-tabs__list-item {
    margin-bottom: -1px;
    
    /**
	 * Active tabs link
	 */
	&.is-active {
		border: 1px solid $color-gray-27;
		border-bottom: 1px solid $color-white;
	}
}


/**
 * Tab Body
 */
.c-tabs__body {
	padding: 1rem 0;
	border-top: 0;
}

/**
 * Tab Panel
 * 1) Display by default, and only hide if JS is available
 */
.c-tabs__panel {
	display: none;
	padding: 1rem;

	/**
	 * Active tabs panel
	 */
	&.is-active {
		display: block;
	}
}
