/*------------------------------------*\
    #WELL
\*------------------------------------*/

/**
 * 1) A visually-styled container for content.
 */

.c-well {
    background: $color-white;
    box-shadow: $box-shadow;
    border: 1px solid $color-gray-15;
    border-radius: $border-radius;
    padding: 1.5rem;
    margin-bottom: 2rem;
}