.blog-post .link.prev {
  float: left;
}

.blog-post .link.next {
  float: right;
}

.blog-post .title, .blog-post .date {
  text-align: center;
  margin: 0;
  padding: 0;
}

.blog-post .date {
  color: #555;
  margin-bottom: 1rem;
}

.blog-post .navigation {
  min-height: 60px;
}
