.blog-post-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0.25rem;
  border-bottom: 2px solid #EEE;
}

.blog-post-preview:last-child {
  border-bottom-width: 0;
}

.blog-post-preview .title, .blog-post-preview .date, .blog-post-preview .link {
  margin: 0 auto;
}

.blog-post-preview .date {
  color: #555;
  margin-bottom: 1rem;
}
