 /*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */

/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";





/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import "scss/base/reset";
@import "scss/base/body";
@import "scss/base/links";
@import "scss/base/lists";
@import "scss/base/headings";
@import "scss/base/forms";
@import "scss/base/buttons";
@import "scss/base/main";
@import "scss/base/media";
@import "scss/base/text";
@import "scss/base/table";





/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@import "scss/layout/layout";





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
 * Global
 */
@import "scss/components/footer";
@import "scss/components/header";
@import "scss/components/logo";

/**
 * Page
 */
@import "scss/components/wrapper";
@import "scss/components/section";
@import "scss/components/page-header";

/**
 * Navigation
 */
@import "scss/components/footer-nav";
@import "scss/components/primary-nav";
@import "scss/components/breadcrumbs";

/**
 * Buttons
 */
@import "scss/components/button";
@import "scss/components/button-group";

/**
 * Forms
 */


/**
 * Blocks
 */
@import "scss/components/card";
@import "scss/components/content-block";
@import "scss/components/hero";
@import "scss/components/well";

/**
 * Tables
 */
@import "scss/components/table";

/**
 * Images
 */
@import "scss/components/icon";

/**
 * Text
 */
@import "scss/components/text-passage";
@import "scss/components/badge";

/**
 * Lists
 */
@import "scss/components/card-list";

/**
 * Interactive
 */
@import "scss/components/tabs";





/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "scss/utilities/spacing";
@import "scss/utilities/visibility";





/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "scss/vendor/prism";


//TODO: Remove for production
.fpo {
    background: #ddd;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
